.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito", sans-serif;
    -webkit-appearance: none;
    border-radius: 10px;

    -webkit-box-shadow: 7px 6px 11px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 7px 6px 11px -1px rgba(0,0,0,0.48);
    box-shadow: 7px 6px 11px -1px rgba(0,0,0,0.48);

    width: 20%;
    height: 28%;

    margin: 0px 0px 25px 140px;
    padding: 10px 60px 30px 50px;
}

#project-name {
    font-weight: bold;
}

#locality-name-card {
    margin: 10px 0px 10px 0px;
}

.info-project-card {
    margin-top: 20px;
    background-color: #7c64bf;
    border: none ;
    color: white;
    width: 80px;
    border-radius: 8px;
}

@media (min-width: 360px) and (max-width: 900px) { 
    .project-card {
        width: 55%;
        margin: 0px 0px 25px 50px;
    }

}