.card-container {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.project-card-name {
    font-size: 20px;
    text-transform: uppercase;
    max-width: 250px;
}

.project-name-donationDate-container {
    display: flex;
}

.project-card-date {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 5px;

    font-size: 16px;
    color: #333;
    font-family: "Nunito", sans-serif;
    -webkit-appearance: none;
}

.align-date {
    margin-left: 5px;
}