.log-in-home {
  background-color: #8fa2cc;
  color: white;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 37px;
  font-size: 20px;
  padding: 7px 0px 35px 0px;
  margin: 15px 0px 0px 980px;
}

.projects-tittle-home {
  font-family: "Nunito", sans-serif;
  -webkit-appearance: none;
  margin: 50px 0px 45px 170px;
  font-weight: normal;
  font-size: 30px;
}

.en-button{
  background-color: #7c64bf;
  color: white;
  border: none;
  border-radius: 6px;
  width: 70px;
  height: 37px;
  font-size: 20px;
}

.es-button{
  background-color: #7c64bf;
  color: white;
  border: none;
  border-radius: 6px;
  width: 70px;
  height: 37px;
  font-size: 20px;
}