.log-in-container {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.inicia-secion-login {
    font-family: "Nunito", sans-serif;
    -webkit-appearance: none;
    font-weight: 700;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.login-google-button {
    background-color: #ff7575;
    border-radius: 6px;
    border: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    padding: 8px;
    display: block;
    width: 230px;
}

.register-container {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

.input-login-register {
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    font-size: 16px;
    padding: 12px 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
    font-weight: 300;
}

.register-button {
    background-color: #71bbff;
    border-radius: 6px;
    border: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    padding: 8px;
    display: block;
    width: 230px;
}

.empty-input {
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #d12727;
    font-size: 16px;
    padding: 12px 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
    font-weight: 300;
}


@media (min-width: 360px) and (max-width: 900px) { 
    .log-in-container {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 16px;
        width: 90%;
    }
}