.paginator-container {
    display: flex;
    justify-content: center;

}

.paginator-item {
    background-color: #7c64bf;
    border-radius: 8px;
    color: #FFFFFF;
    width: 25px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
}


@media (min-width: 360px) and (max-width: 900px) { 
    .paginator-container {
        width: 80%; 
    
    }

    .paginator-item {
        padding-top: 5px;
        width: 30px;
        height: 40px;
    }
}